.pixel-art {
    margin-bottom: 15px;

    width: 300px;
    height: 298px;
    border-radius: 50%;
    background-color: #beccf0b6;
    display: inline-block; /* Ensure the circular background doesn't extend beyond the image */
    overflow: hidden; /* Clip any content that overflows the circular shape */
    display: flex;
  }