body {
    overflow-x:hidden;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.header {
  height: 65px;
  background-color: #f7f7f7;
}

.blue-bar {
  background-color: #2852A6/*#555753*/;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.jumbotron {
  background-color: #2852A6/*#555753*/;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.jumbotron .container {
  position: relative;
  top:0px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Titillium Web', sans-serif;
  font-weight: bolder;
  margin-top: -3px;
}

.index .aboutme {
  margin-top: -30px;
}

.page-desc {
  text-align: center
}

.aboutme p {
  font-size: 14
}

.aboutme img {
  padding: 0px;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin-bottom: -1px;
  margin-top: -7px;
}

.profiles {
    background-color: #f7f7f7;
    border-top: 1px solid #dbdbdb;
}

.profiles h2 {
    color: #393c3d;
    font-size: 34px;
    text-align: center;
}

.profiles p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 0px;
    text-align: center;
}
