<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>{{ title }} - Graham Park</title>
    <link rel='stylesheet' href='page.css' />
    <link rel='stylesheet' href='blog.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Song+Myung">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Buenard">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>
        window.sa_event = window.sa_event || function () {
            a = [].slice.call(arguments);
            sa_event.q ? sa_event.q.push(a) : sa_event.q = [a]
        };
    </script>
    <script data-skip-dnt="true" async defer src="https://park.grahamjpark.com/latest.js"></script>
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    {% include 'header.jinja2.html' %}
    <div class="article-container">
        <article>
            <h1 class="title">{{ title }}</h1>
            <p class='subtitle'>Published on {{ date }}</p>
            {{ post_body }}
        </article>
    </div>
    <script>
        (function createEvents() {
            var outbound_links = {}
            var a = document.getElementsByTagName("article")[0].getElementsByTagName("a");
            for (var i = 0; i < a.length; i++) {
                var link = a[i];
                if (/^http/i.test(link.href)) {
                    let title = "{{ title }}".replace(/\s/g, '').toLowerCase();
                    let host = link.host.replace(/^(www|l|m)\./, "");
                    let count = 0;
                    if (host in outbound_links) {
                        outbound_links[host] += 1;
                        count = outbound_links[host];
                    } else {
                        outbound_links[host] = 0;
                    }
                    var event = "outbound_" + title + "_" + host + "_" + count;
                    link.setAttribute("target", "_blank");
                    link.setAttribute("onclick", "sa_event('" + event + "');");
                }
            }
        })();
    </script>
</body>

</html>