    <header>
        <div class="emblem" onclick="location.href='/';" style="cursor: pointer;">
            <img class="logo" title="" src="/assets/gp_small_new.png" height="42" width="46">
            <h1>Graham Park</h1>
        </div>
        <nav>
            <ul>
                <li><a href='/'>About</a></li>
                <li><a href='/blog/all-posts.html'>All Posts</a></li>
                <li><a href='/blog/subscribe.html'>Subscribe</a></li>
            </ul>
        </nav>
    </header>