<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>prograham by Graham Park</title>
    <link rel='stylesheet' href='index.css' />
    <link rel='stylesheet' href='/blog/post-snippet.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <!-- TODO: Remove icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>
        window.sa_event = window.sa_event || function () {
            a = [].slice.call(arguments);
            sa_event.q ? sa_event.q.push(a) : sa_event.q = [a]
        };
    </script>
    <script data-skip-dnt="true" async defer src="https://park.grahamjpark.com/latest.js"></script>
</head>

<body>
    {% include 'header.jinja2.html' %}

    <div class="profile-card">
        <img class="pixel-art" alt="Graham Park Pixel Art" title="" src="/assets/graham-park-pixel-art-small.png">
        <p>Writings from a professional Graham</p>
        {% set is_grahamjpark = false %}
        {% include 'socials.jinja2.html' %}
    </div>
    <div class="article-container">
        <article>
            <div class="recent-articles">
                <h1>Recent Posts</h1>
                {% set include_preview = true %}
                {% for post in posts %}
                {% with post=post %}
                {% include 'post_snippet.jinja2.html'%}
                {% endwith %}
                {% endfor %}
                <a class="all-posts" href='/blog/all-posts.html'>All Posts →</a>
            </div>
        </article>
        <a rel="me" href="https://mastodon.nl/@grahamjpark"></a>
        <a rel="me" href="https://mastodon.nl/@prograham"></a>
        <a rel="me" href="https://mastodon.social/@grahamjpark"></a>
        <a rel="me" href="https://mastodon.social/@prograham"></a>
    </div>
</body>

</html>