<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>Graham Park</title>
    <link rel='stylesheet' href='index.css' />
    <link rel='stylesheet' href='/blog/post-snippet.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Song+Myung">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Buenard">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>
        window.sa_event = window.sa_event || function () {
            a = [].slice.call(arguments);
            sa_event.q ? sa_event.q.push(a) : sa_event.q = [a]
        };
    </script>
    <script data-skip-dnt="true" async defer src="https://park.grahamjpark.com/latest.js"></script>
</head>

<body>
    <header>
        <div class="emblem">
            <img class="logo" title="" src="./assets/gp_small_new.png" height="106" width="115">
            <h1>Graham Park</h1>
        </div>
        <nav>
            <ul>
                <li><a href='https://www.linkedin.com/in/grahamjpark/' target="_blank"
                        onclick="sa_event('header_outbound_linkedin.com');">LinkedIn</a></li>
                <li><a href='https://github.com/grahamjpark' target="_blank"
                        onclick="sa_event('header_outbound_github.com');">Github</a></li>
                <li><a href='/blog/all-posts.html' target="_blank"
                        onclick="sa_event('header_outbound_blog');">Blog</a></li>
                <li><a href='https://grahamtries.art/' target="_blank"
                        onclick="sa_event('header_outbound_park.art');">Art</a></li>
                <!-- <li><a href='https://app.thestorygraph.com/profile/grahamjpark' target="_blank"
                        onclick="sa_event('header_outbound_thestorygraph.com');">Bookshelf</a></li> -->
                <!-- <li><a href='http://www.park.photography/Graham' target="_blank"
                        onclick="sa_event('header_outbound_park.photography');">Photography</a></li> -->
            </ul>
        </nav>
    </header>
    <div class="article-container">
        <article>
            <div class="about-me">
                <img title="" src="./assets/me-circle-small.png" height="220" width="220">
                <h1>About Me</h1>
                <p>Originally from Santa Claus, Indiana (yes, it's a real place 🎅). I now live in Amsterdam, Netherlands and work for Booking.com as a software engineer.</p>
                <p>I love collaborating with great people to solve impactful problems. Currently, that looks like building software to help more people experience the world, and learning more about effective altruism. I'm also trying to express more creativy, so check out my Art link above.</p>
            </div>
            <div class="recent-articles">
                <h1 onclick="location.href='/blog/all-posts.html';" style="cursor: pointer;">Recent Posts</h1>
                {% for post in posts %}
                {% with post=post %}
                {% include 'post_snippet.jinja2.html'%}
                {% endwith %}
                {% endfor %}
                <a class="all-posts" href='/blog/all-posts.html'>All Posts →</a>
            </div>
        </article>
        <a rel="me" href="https://mastodon.nl/@grahamjpark"></a>
    </div>
</body>

</html>
