<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <title>prograham</title>
    <link rel='stylesheet' href='index.css' />
    <link rel='stylesheet' href='/blog/post-snippet.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <!-- TODO: Remove icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script>
        window.sa_event = window.sa_event || function () {
            a = [].slice.call(arguments);
            sa_event.q ? sa_event.q.push(a) : sa_event.q = [a]
        };
    </script>
    <script data-skip-dnt="true" async defer src="https://park.grahamjpark.com/latest.js"></script>
</head>

<body>
    {% include 'header.jinja2.html' %}

    <div class="profile-card">
        <img class="pixel-art" title="" src="/assets/2_transparent.png">
        <p>Nobis quia praesentium consequatur distinctio</p>
        <ul class="socials">
            <li><a href="https://github.com/grahamjpark" target="_blank" onclick="sa_event('header_outbound_github.com');">
                <img title="" src="./assets/logo-github.svg" height="25" width="25">
            </a></li>
            <li><a href="https://www.linkedin.com/in/grahamjpark/" target="_blank" onclick="sa_event('header_outbound_linkedin.com');">
                <img title="" src="./assets/logo-linkedin.svg" height="25" width="25">
            </a></li>
            <li><a href="https://mastodon.nl/@prograham" target="_blank" onclick="sa_event('header_outbound_mastodon.nl');">
                <img title="" src="./assets/logo-mastodon.svg" height="25" width="25">
            </a></li>
            <li><input type="image" src="./assets/balloon.svg" name=""id="balloonButton" height="25" width="25"/></li>
            <li><a href="/blog/rss.xml" target="_blank" onclick="sa_event('header_outbound_rss');">
                <img title="" src="./assets/logo-rss.svg" height="25" width="25">
            </a></li>
            <!-- <li><img title="" src="./assets/logo-book.svg" height="20" width="20"></li> -->
        </ul>
    </div>
    <div class="article-container">
        <article>
            <div class="recent-articles">
                <h1 onclick="location.href='/blog/all-posts.html';" style="cursor: pointer;">Recent Posts</h1>
                {% set include_preview = true %}
                {% for post in posts %}
                {% with post=post %}
                {% include 'post_snippet.jinja2.html'%}
                {% endwith %}
                {% endfor %}
                <a class="all-posts" href='/blog/all-posts.html'>All Posts →</a>
            </div>
        </article>
        <a rel="me" href="https://mastodon.nl/@grahamjpark"></a>
        <a rel="me" href="https://mastodon.nl/@prograham"></a>
        <a rel="me" href="https://mastodon.social/@grahamjpark"></a>
        <a rel="me" href="https://mastodon.social/@prograham"></a>
    </div>
    <script>
        document.getElementById("balloonButton").addEventListener("click", function () {
            confetti.start();
            setTimeout(function () {
                confetti.stop();
            }, 3000);
        });
    </script>
    <script src="confetti.js"></script>
</body>

</html>