        {% set filename = post["filename"] %}
        <a href='/blog/{{ filename }}'>
            <h2>{{ post["title"] }}</h2>
            <p>{{ post["date"] }}</p>
            <p>{{ post["snippet"][:240] }}...</p>
            <p class='click-for-more'>click for more</p>
        </a>