* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2852A6;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.emblem {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 35px 20px 35px 35px;
    justify-content: space-around;
}

.logo {
    margin-right: 20px;
}

.emblem h1 {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}

header ul {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

header li {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
}

/* header li:first-of-type {
    margin-left: 0;
}

header li:last-of-type {
    margin-right: 0;
} */

header a {
    font-family: 'Buenard', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.article-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

article {
    font-family: 'Buenard', serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    width: 800px;
    padding: 30px 20px 30px 20px;
    color: #32383d;
}

article p {
    padding-bottom: 15px;
    font-family: 'PT Sans', serif;
}

article h1:first-of-type {
    padding: 40px 0 0 0;
    font-size: 50px;
}

article img {
    width: 100%;
    object-fit: contain;
    margin: 5px auto 10px auto;
}

.subtitle {
    font-size: 14px;
    /* font-style: italic; */
    padding: 0 0 20px 0;
}

hr {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}
