.subtitle {
    font-size: 15px;
    /* font-style: italic; */
    padding: 0 0 20px 0;
}

article li {
    margin: 0 10px 10px 30px;
    font-family: 'SourceSansPro', serif;
}

pre code {
    margin: 10px 0 10px 0;
}

/* pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 100%;
    white-space: pre-wrap;
  } */