* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* TODO: Pull header out to seperate css */
header {
    position: fixed;
    background-color: #19367e;
    display: flex;
    justify-content: space-between;
    /* TODO: Consider using percent instead. Check on mobile */
    padding: 0x 10px;
    align-items: center;
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.emblem {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 35px 20px 35px 35px;
    justify-content: space-around;
}

.logo {
    margin-right: 20px;
}

.emblem h1 {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    color: #f2f1ef;
}

header ul {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

header li {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
}

/* header li:first-of-type {
    margin-left: 0;
}

header li:last-of-type {
    margin-right: 0;
} */

header a {
    font-family: 'Buenard', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: #f2f1ef;
}

.article-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Offset header */
}

article {
    overflow: auto;
    font-family: 'Buenard', serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    width: 800px;
    padding: 15px 20px 30px 20px;
    color: #32383d;
}

article p {
    padding-bottom: 15px;
    font-family: 'PT Sans', serif;
}

article h1:first-of-type {
    /* padding: 30px 0 0 0; */
    font-size: 40px;
}

article h1:not(first-of-type) {
    padding: 10px 0 2px 0;
}

article img {
    width: 100%;
    object-fit: contain;
    margin: 5px auto 10px auto;
}

hr {
    display: block;
    margin: 10px auto 10px auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}

.email-signup {
    width: 300px;
    margin: 0 auto 0 auto;
}

.email-octopus-form-row-subscribe {
    align-items: right;
}

/* Mobile Styles */
@media only screen and (max-width: 605px) {
    /* .emblem h1 {
        display: none;
    } */
    .logo {
        margin-right: 0;
    }
}

/* Desktop Styles */
/* @media only screen and (min-width: 606px) {
    article img {
        float: right;
        margin: 5px 15px 10px 15px;
    }
} */