* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SourceSansPro";
    font-style: italic;
    src: url('/assets/fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: bold;
    src: url('/assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "SourceSansPro";
    src: url('/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Handjet";
    src: url('/assets/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf') format('truetype');
}

/* TODO: Pull header out to seperate css */
header {
    position: fixed;
    background-color: #19367e;
    display: flex;
    justify-content: space-between;
    /* TODO: Consider using percent instead. Check on mobile */
    padding: 0x 10px;
    align-items: center;
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
}

.emblem {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 40px 20px 35px 35px;
    justify-content: space-around;
}

.logo {
    margin-right: 20px;
}

.emblem h1 {
    font-family: 'Handjet';
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 60px;
    text-align: center;
    color: #f2f1ef;
}

header ul {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

header li {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
}

header a {
	font-family: "SourceSansPro", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	text-align: center;
	text-decoration-line: underline;
	color: #f2f1ef;
}

.socials {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

.socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.socials li {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 7px;
}

.email-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.article-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px; /* Offset header */
}

article {
    overflow: auto;
    font-family: 'SourceSansPro', sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    width: 800px;
    padding: 15px 20px 30px 20px;
    color: #32383d;
}

article p {
    padding-bottom: 15px;
}

article h1:first-of-type {
    /* padding: 30px 0 0 0; */
    font-size: 50px;
    font-weight: normal;
}

article h1:not(first-of-type) {
    padding: 10px 0 2px 0;
}

article img {
    width: 100%;
    object-fit: contain;
    margin: 5px auto 10px auto;
}

hr {
    display: block;
    margin: 10px auto 10px auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
}

.email-signup {
    width: 300px;
    margin: 0 auto 0 auto;
}

.email-octopus-form-row-subscribe {
    align-items: right;
}

/* Mobile Styles */
@media only screen and (max-width: 605px) {
    /* .emblem h1 {
        display: none;
    } */
    .emblem {
        padding: 40px 20px 35px 10px;
    }
    .logo {
        margin-right: 0;
    }
}

/* Desktop Styles */
/* @media only screen and (min-width: 606px) {
    article img {
        float: right;
        margin: 5px 15px 10px 15px;
    }
} */