.snippet-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

.post-date {
    padding-bottom: 10px;
    font-size: 15px;
    font-style: italic;
}

.link {
    color: #3d7c99;
}

.read-more {
    text-align: right;
    padding-bottom: 20px;
    margin-top: -5px;
}